.title-close-register {
  position: absolute;;
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.cash-register-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -3.5%;
}

.closure-tables-container {
  margin-top: 15%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.closure-returns-table,
.closure-changes-table {
  margin: 0 2%;
}

.closure-sales-table,
.closure-payments-table {
  margin: 0 2%;
}

.returns-changes-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sales-payments-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-of-table {
  font-size: 2rem;
  background-color: #00B3D3;
  color: #fff;
}

.top-of-table-black {
  font-size: 2.3rem;
  background-color: #232c37;
  color: #fff;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 0.5rem 2rem;
  color: #545454;
  font-size: 1.6rem;
}

td > a > i {
  color: #fff;
  padding-left: 1.2rem;
}

td > a > i:hover,
td > a > i:active {
  color: #009CB7;
}

.title-blue {
  font-size: 4rem;
  color: #009CB7;
}

.total-cash-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
