.row {
  margin: 0 auto;
}

.page-container {
  display: flex;
}

.search-container {
  width: 94%
}

.right-container {
  margin-top: 5%;
  margin-right: 2.5%;
  width: 32%;
  margin-left: 0;
  padding-left: 0;
}

.left-container {
  margin-top: 10%;
  margin-right: 0;
  padding-right: 0;
  margin-left: 2.5%;
  width: 65%;
}

.close-icon {
  margin-left: 4px;
  margin-right: 4px;
  border-radius:50%;
  width: 16px;
  height: 16px;
  background-color: #FF7474;
  display: flex;
  align-items: center;
  vertical-align: middle;
  z-index: 0;
}

.flex {
  display: flex;
}

.close-icon:hover,
.close-icon:focus {
  background-color: #D72638;
}

.center-close {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 12px !important;
  opacity: 1 !important;
  color: #fff;
}

.white-light {
  color: #fff;
  font-weight: normal;
}

.white:hover,
.white:focus {
  color: #fff;
}

.left {
  text-align: left !important;
}

.items-sales {
  margin-top: 2rem;
}

.items-sales > thead > tr > th,
.items-sales > tbody > tr > td,
.total-table > thead > tr > th,
.total-table > tbody > tr > td {
  text-align: center;
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
}

.discounts-table > tbody > tr > td,
.discounts-table > thead > tr > th,
.subtotal > tbody > tr > td,
.pay-forms-table > thead > tr > th,
.pay-forms-table > tbody > tr > td {
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
}

p {
  padding: 0.5rem 0.5rem;
  font-size: 1.6rem;
}

.right {
  text-align: right !important;
}

.discounts-table,
.subtotal,
.total-table,
.pay-forms-table {
  width: 100%;
}

.pos-main-btn {
  background-color: #009CB7;
  color: #fff;
  border: none;
  border: 1px solid #009CB7;
}

.pos-main-btn:hover,
.pos-main-btn:hover {
  background-color: #232c37;
  color: #fff;
  border: 1px solid #232c37;
}

.total-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.total > p,
.total-due > p {
  padding: 0 1rem;
}

.payment-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.custom-button {
  margin: 4px;
}

.custom-button:active,
.custom-button:visited,
.custom-button:hover {
  background-color: #009CB7;
  color: #fff;
  border: 1px solid #009CB7;
}

.single-line {
  display: inline-flex;
  flex-wrap: nowrap;
}

.pos-secondary-btn {
  background-color: #232c37;
  color: #fff;
  border: 1px solid #232c37;
}

.pos-secondary-btn:hover {
  background-color: #009CB7;
  color: #fff;
  border: 1px solid #009CB7;
}

.bigger > strong {
  font-size: 2rem;
}

.bigger-icon {
  font-size: 2rem;
}

.selected {
  background-color: #009CB7;
  color: #fff;
  border: 1px solid #009CB7;
}

.special-title {
  font-size: 1.6rem;
}

button:focus,
button:active {
  background-color: #009CB7 !important;
  color: #fff !important;
  border: 1px solid #009CB7 !important;
}

.myfield {
  background-color: #F5F2F7;
  color: #009CB7;
  border-radius: 8px;
  box-shadow: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3rem;
  padding-left: 1rem;
  border: none;
  }

.pos-main-btn {
  background-color: #009CB7;
  color: #fff;
  border: 1px solid #009CB7;
}

.pos-main-btn:hover,
.pos-main-btn:active,
.pos-main-btn:focus {
  background-color: #232c37;
  color: #fff;
  border: 1px solid #232c37;
}

#username:hover {
  background-color: #232c37;
  color: #fff;
}

.dropdown-menu > li > a:hover {
  background-color: #009CB7;
  color: #fff;
  border: 1px solid #009CB7;
}
