<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> POS Sistema DC </title>
  <link rel="stylesheet" href="../vendor/assets/css/bootstrap.css">
  <link rel="stylesheet" href="../vendor/assets/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/pills.css">
  <link rel="stylesheet" href="../assets/css/pos.css">
  <link rel="stylesheet" href="../assets/css/cash_register.css">
  <link rel="stylesheet" href="../assets/css/bottom-nav.css">
  <script src="../vendor/assets/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="../vendor/assets/js/jquery-ui.min.js" charset="utf-8"></script>
  <script src="../vendor/assets/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="../assets/js/pos.js" charset="utf-8"></script>
  <script src="../assets/js/close_register.js" charset="utf-8"></script>
</head>
<body>

  <!-- Inicia Navbar -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="corner-logo">
        <a href="#">
          <img src="../assets/img/sistema-dc-3.png" alt="Logo Sistema DC" class="logo img-responsive">
        </a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="username">
            <i class="fa fa-user-circle-o bigger-icon" aria-hidden="true"></i>
            Bienvenido, Favio Velez
          </a>
        </li>
        <li>
          <a href="#" id="store">
             Franquicia - Aguascalientes
          </a>
        </li>
        <li>
          <a href="sign_in.html">Cerrar sesión</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
  <!-- Termina Navbar -->

 <!-- Inician Pills-->
  <div class="row pills-row fixed z-index">
     <ul class="nav nav-tabs">
       <li role="presentation" class="active" id="cashRegisterClose"><a href="close_register.html">Cierre de caja</a></li>
       <li role="presentation" class="hidden" id="cashRegisterOpen"><a href="open_register.html">Apertura de caja</a></li>
       <li role="presentation" id="pos"><a href="pos_sale.html">Punto de Venta</a></li>
       <li role="presentation"><a href="saved_tickets.html" id="savedTickets">Tickets guardados</a></li>
       <li role="presentation"><a href="configuration.html" id="config">Configuración</a></li>
     </ul>
  </div>
 <!-- Terminan Pills -->

  <div class="page-container">

    <div class="cash-register-container">
      <h3>
        Cerrar caja
        <span> 1 </span>
      </h3>
      <form class="new_register_close" id="new_register_close" action="pos_sale.html" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />
        <div class="actions">
          <input type="submit" name="commit" value="Cerrar caja" class="third-button" />
        </div>
      </form>
    </div>

    <table class="closure-sales-table">
      <tbody>
        <tr>
          <td class="top-of-table">
            Ventas:
          </td>
          <td class="top-of-table right">
              $ 2,950.00
              <a href="#">
                <i class="fa fa-chevron-up hidden" aria-hidden="true" id="sales-hide"></i>
                <i class="fa fa-chevron-down" aria-hidden="true" id="sales-show"></i>
              </a>
          </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Efectivo </td>
          <td class="right sales-hide hidden"> $ 1,535.50 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Tarjeta de débito </td>
          <td class="right sales-hide hidden"> $ 2,621.00 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Tarjeta de crédito </td>
          <td class="right sales-hide hidden"> $ 894.00 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Cheque </td>
          <td class="right sales-hide hidden"> $ 400.00 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Transferencias </td>
          <td class="right sales-hide hidden"> $ 5,000.00 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Ventas a crédito </td>
          <td class="right sales-hide hidden"> $ 2,000.00 </td>
        </tr>
        <tr>
          <td class="sales-hide hidden"> Otras formas de pago </td>
          <td class="right sales-hide hidden"> $ 100.00 </td>
        </tr>
        <tr>
          <td>
            <strong>
              Efectivo en caja (ventas):
            </strong>
          </td>
          <td class="right">
            <strong>
              $ 1,535.50
            </strong>
          </td>
        </tr>
        <tr>
          <td>
            <br />
          </td>
        </tr>
        <tr>
          <td class="top-of-table">
            Pagos:
          </td>
          <td class="top-of-table right">
              $ 1,450.00
              <a href="#">
                <i class="fa fa-chevron-up hidden" aria-hidden="true" id="payment-hide"></i>
                <i class="fa fa-chevron-down" aria-hidden="true" id="payment-show"></i>
              </a>
           </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Efectivo </td>
          <td class="right payment-hide hidden"> $ 539.50 </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Tarjeta de débito </td>
          <td class="right payment-hide hidden"> $ 624.00 </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Tarjeta de crédito </td>
          <td class="right payment-hide hidden"> $ 1,995.00 </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Cheque </td>
          <td class="right payment-hide hidden"> $ 4,000.00 </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Transferencias </td>
          <td class="right payment-hide hidden"> $ 1,000.00 </td>
        </tr>
        <tr>
          <td class="payment-hide hidden"> Otras formas de pago </td>
          <td class="right payment-hide hidden"> $ 250.00 </td>
        </tr>
        <tr>
          <td>
            <strong>
              Efectivo en caja (anticipos):
            </strong>
          </td>
          <td class="right">
            <strong>
              $ 539.50
            </strong>
          </td>
        </tr>
        <tr>
          <td>
            <br /><br />
          </td>
        </tr>
      </tbody>
    </table>
    

  </div><!-- Termina page-container  -->

 <!-- Inicia Modal -->
  <div class="modal fade" id="clientes" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Alta de clientes</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Termina Modal -->

<!-- Temporalmente deshabilitada la Bottom Nav
  <div class="bottom-nav">
    <a href="#">
      <i class="fa fa-print bigger-icon " aria-hidden="true"></i>
      Reimprimir
    </a>
  </div>
-->

</body>
</html>
