<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> POS Sistema DC </title>
  <link rel="stylesheet" href="../vendor/assets/css/bootstrap.css">
  <link rel="stylesheet" href="../vendor/assets/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/sign_in.css">
  <link rel="stylesheet" href="../assets/css/pills.css">
  <link rel="stylesheet" href="../assets/css/pos.css">
  <link rel="stylesheet" href="../assets/css/bottom-nav.css">
</head>
<body>

  <!-- Inicia Navbar -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="corner-logo">
        <a href="#">
          <img src="../assets/img/sistema-dc-3.png" alt="Logo Sistema DC" class="logo img-responsive">
        </a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="username">
            <i class="fa fa-user-circle-o bigger-icon" aria-hidden="true"></i>
            Bienvenido, Favio Velez
          </a>
        </li>
        <li>
          <a href="#" id="store">
             Franquicia - Aguascalientes
          </a>
        </li>
        <li>
          <a href="sign_in.html">Cerrar sesión</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
  <!-- Termina Navbar -->

  <div class="alerts-container">
    <div class="alert alert-info hidden" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class='title'>Tienes que iniciar sesión o registrarte para poder continuar.</span>
    </div>
  </div>

 <!-- Inician Pills-->
  <div class="row pills-row fixed z-index">
     <ul class="nav nav-tabs">
       <li role="presentation" id="cashRegisterClose"><a href="close_register.html">Cierre de caja</a></li>
       <li role="presentation" class="hidden" id="cashRegisterOpen"><a href="open_register.html">Apertura de caja</a></li>
       <li role="presentation" id="pos"><a href="pos_sale.html">Punto de Venta</a></li>
       <li role="presentation"><a href="saved_tickets.html" id="savedTickets">Tickets guardados</a></li>
       <li role="presentation" class="active"><a href="configuration.html" id="config">Opciones adicionales</a></li>
       <li role="presentation" class="hidden"><a href="product_prices.html" id="config">Lista de precios</a></li>
     </ul>
  </div>
 <!-- Terminan Pills -->

  <div class="page-container">

    <ul class="action-list">
      <li>
        <a href="#" id="cashAlert">
          Crear / Modificar alerta de efectivo
        </a>
      </li>
      <li>
        <a href="#" id="registerColaborator">
          Registrar colaborador
        </a>
      </li>
      <li>
        <a href="#" id="changePassword">
          Cambiar contraseña
        </a>
      </li>
      <li>
        <a href="#" id="registerDeposit">
          Registrar un depósito
        </a>
      </li>
      <li>
        <a href="#" id="registerWithdrawal">
          Registrar un retiro
        </a>
      </li>
      <li>
        <a href="#" id="createRegister">
          Crear nueva caja
        </a>
      </li>
      <li>
        <a href="#" id="deleteRegister">
          Eliminar caja
        </a>
      </li>
      <li>
        <a href="#" id="addTerminal">
          Agregar terminal
        </a>
      </li>
      <li>
        <a href="product_prices.html">
          Ir a lista de precios
        </a>
      </li>
    </ul>

    <div class="options-container">
      <div class="cash-alert hidden">

        <h3 class="title-blue open-register-title space-bottom"> Alertar cuando el efectivo llegue a: </h3>
        <p> Esta acción aplicará para todas las cajas de esta tienda de manera individual. </p>
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />
          <div class="field ">
            <label for="register_open_initial_cash">Monto mínimo para alerta</label><br>
            <input placeholder="Ejemplo: $1,000.00" class="form-control round-form transparent-field" type="text" value="" name="register_open[initial_cash]" id="register_open_initial_cash" />
          </div>

          <br /><br />
          <div class="actions">
            <input type="submit" name="commit" value="Crear alerta" class="main-button" />
          </div>
        </form>
      </div>

      <div class="register-withdrawal hidden">

        <h3 class="title-blue open-register-title space-bottom"> Registrar retiro </h3>
        <p> Esta acción afectará el saldo registrado en la caja seleccionada. </p>
        <br />
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <table class="cash-withdrawal-table">
            <tbody>
              <tr>
                <td>
                  <select name="discount_rule_options" class="myfield" id="discount_rule_options">
                    <option value="1">Caja 1</option>
                    <option value="2">Caja 2</option>
                  </select>
                </td>
                <td>
                  <strong>
                  Efectivo:
                </strong>
                    $ 200.00
                </td>
              </tr>
              <tr>
                <td>
                  <br />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="new_cash_withdrawal">Descripción del retiro</label><br>
                  <input placeholder="Depósito banco" class="form-control round-form transparent-field" type="text" value="" name="new_cash_withdrawal[description]" id="new_cash_withdrawal_description" />
                 </td>
                 <td>
                   <label for="new_cash_withdrawal">Monto del retiro</label><br>
                   <input placeholder="Ejemplo: $1,000.00" class="form-control round-form transparent-field" type="text" value="" name="new_cash_withdrawal[amount]" id="new_cash_withdrawal_amount" />
                  </td>
              </tr>
            </tbody>
          </table>

          <div class="actions">
            <input type="submit" name="commit" value="Registrar retiro" class="main-button" />
          </div>
        </form>

      </div>

      <div class="register-deposit hidden">

        <h3 class="title-blue open-register-title space-bottom"> Registrar depósito </h3>
        <p> Por favor seleccione la caja a la cuál hará el depósito.</p>
        <br />
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <table class="cash-deposit-table">
            <tbody>
              <tr>
                <td>
                  <select name="discount_rule_options" class="myfield" id="discount_rule_options">
                    <option value="1">Caja 1</option>
                    <option value="2">Caja 2</option>
                  </select>
                </td>
                <td>
                  <strong>
                  Efectivo:
                </strong>
                    $ 200.00
                </td>
              </tr>
              <tr>
                <td>
                  <br />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="new_cash_deposit">Descripción del depósito</label><br>
                  <input placeholder="Apertura de caja" class="form-control round-form transparent-field" type="text" value="" name="new_cash_deposit[description]" id="new_cash_deposit_description" />
                 </td>
                 <td>
                   <label for="new_cash_deposit">Monto del depósito</label><br>
                   <input placeholder="Ejemplo: $1,000.00" class="form-control round-form transparent-field" type="text" value="" name="new_cash_deposit[amount]" id="new_cash_deposit_amount" />
                  </td>
              </tr>
            </tbody>
          </table>

          <div class="actions">
            <input type="submit" name="commit" value="Registrar depósito" class="main-button" />
          </div>
        </form>

      </div>

      <div class="delete-cash-register hidden">

        <h3 class="title-blue open-register-title space-bottom"> Eliminar caja </h3>
        <p> Por favor seleccione la caja que desea eliminar.</p>
        <br />
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <div class="actions">
            <select name="cash_register_options" class="myfield" id="cash_register_select">
              <option value="1">Caja 1</option>
              <option value="2">Caja 2</option>
            </select>
          </div>
          <br />

          <div class="actions">
            <input type="submit" name="commit" value="Eliminar caja" class="third-button" />
          </div>
        </form>

      </div>

      <div class="create-cash-register hidden">

        <h3 class="title-blue open-register-title space-bottom"> Crear caja </h3>
        <p> ¿Desea crear una nueva caja?</p>
        <br />
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />
          <br />
          <div class="actions">
            <input type="submit" name="commit" value="Crear caja" class="main-button" />
          </div>
        </form>

      </div>

      <div class="add-terminal hidden">
        <h3 class="title-blue open-register-title space-bottom"> Agregar terminal </h3>
        <p>
          Al agregar una terminal, todas las operaciones de Tarjeta de crédito y débito se registrarán con la comisión que haya seleccionado.
        </p>
        <form class="new_register_open" id="new_register_open" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <select name="bank_options" class="myfield" id="bank_select">
            <option value="1">Banamex</option>
            <option value="2">Santander</option>
          </select>
          <br /><br />

          <label for="new_cash_deposit">Número de afiliación</label><br>
          <input placeholder="Ejemplo: 79864516" class="form-control round-form transparent-field" type="text" value="" name="terminal_number" id="new_terminal_number" />

          <label for="new_cash_deposit">Comisión</label><br>
          <input placeholder="Ejemplo: 3.6%" class="form-control round-form transparent-field" type="text" value="" name="terminal_number" id="new_terminal_number" />

          <div class="actions">
            <input type="submit" name="commit" value="Agregar terminal" class="main-button" />
          </div>

        </form>

      </div>

      <div class="change-password hidden">
        <h3 class="title-blue open-register-title space-bottom"> Cambiar contraseña </h3>

        <form class="change_password" id="change_password" action="configuration.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <select name="user_options" class="myfield" id="bank_select">
            <option value="1">Juan Perez</option>
            <option value="2">Maria Antonieta</option>
          </select>
          <br /><br />

          <label for="new_cash_deposit">Nueva conrtaseña</label><br>
          <input placeholder="Contraseña" class="form-control round-form transparent-field" type="password" value="" name="password" id="password" />

          <br />

          <label for="new_cash_deposit">Confirmrar conrtaseña</label><br>
          <input placeholder="Contraseña" class="form-control round-form transparent-field" type="password" value="" name="password_confirmation" id="password_confirmation" />

          <br />

          <div class="actions">
            <input type="submit" name="commit" value="Cambiar contraseña" class="main-button" />
          </div>

        </form>

      </div>

      <div class="container-sign-up register-sign-margin hidden">

        <div class="sign-in-tittle-div">
          <h2 class="reg-title white">Regístrar Colaborador</h2>
        </div>

        <form class="new_user" id="new_user" action="open_register.html" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input type="hidden" name="authenticity_token" value="NTK5uX3QCLZG2RaB2P/w72rV0xhp10n/RIl6eS05AsHEHF+hBTfZCMCD3tnWJ3qMTeQI7TI6ePtA6RoUZpAuRg==" />

          <div class="actions">
            <div class="field sign-in">
              <label for="user_email" class="white">Primer nombre</label><br />
              <input placeholder="Primer nombre" class="middle-sign-in" type="text" value="" name="user[first_name]" id="user_first_name" />
            </div>

            <div class="field sign-in">
              <label for="user_email" class="white">Segundo nombre</label><br />
              <input placeholder="Segundo nombre" class="middle-sign-in" type="text" value="" name="user[second_name]" id="user_middle_name" />
            </div>
          </div>

          <div class="actions">
            <div class="field sign-in">
              <label for="user_email" class="white">Apellidos</label><br />
              <input placeholder="Apellidos" class="middle-sign-in" type="text" value="" name="user[last_name]" id="user_last_name" />
            </div>

            <div class="field sign-in">
              <label for="user_email" class="white">Correo electrónico</label><br />
              <input placeholder="ejemplo@ejemplo.com" class="middle-sign-in" type="email" value="" name="user[email]" id="user_email" />
            </div>
          </div>

          <div class="actions">
            <div class="field sign-in">
              <label for="user_password" class="white">Contraseña</label><br />
              <input placeholder="Ingresa tu contraseña" autocomplete="off" class="middle-sign-in" type="password" name="user[password]" id="user_password" />
            </div>

            <div class="field sign-in">
              <label for="user_password" class="white">Confirmar Contraseña</label><br />
              <input placeholder="Ingresa tu contraseña" autocomplete="off" class="middle-sign-in" type="password" name="user[password]" id="user_password" />
            </div>
          </div>

          <div class="actions">
            <input type="submit" name="commit" value="Registrar" class="main-button" />
          </div>
        </form>

      </div>


  </div><!-- Termina options-container  -->

<!-- Temporalmente deshabilitada la Bottom Nav
  <div class="bottom-nav">
    <a href="#">
      <i class="fa fa-print bigger-icon " aria-hidden="true"></i>
      Reimprimir
    </a>
  </div>
-->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="../vendor/assets/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="../vendor/assets/js/jquery-ui.min.js" charset="utf-8"></script>
  <script src="../vendor/assets/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="../assets/js/options.js" charset="utf-8"></script>

  <script>if (window.module) module = window.module;</script>

</body>
</html>
